body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-select-arrow {
  color: #fff !important;
}

.login-form-button {
  width: 100%;
}
.ant-form {
  border: 1px solid lightgray;
  padding: 50px !important;
}
.form-group .ant-col {
  max-width: 100%;
}
